{% extends 'base.html' %}
{% load i18n %}
{% load account %}
{% load allauth %}

{% block head_title %}
  Confirmar el correo
{% endblock %}

{% block content %}
  <div class="flex min-h-screen flex-col justify-center sm:px-6 lg:px-8 items-center">
    <div class="sm:mx-auto sm:w-full sm:max-w-[680px]">
      <div class="bg-white px-6 py-12 shadow rounded-lg sm:px-12 mx-4">
        <h1 class="max-w-2xl font-bold tracking-tight text-gray-900 text-2xl mb-4">Confirmar el correo</h1>

        {% if confirmation %}
          <div class="space-y-6">
            {% user_display confirmation.email_address.user as user_display %}

            {% if can_confirm %}
              <p class="max-w-2xl text-gray-900 pt-6">
                {% blocktrans with confirmation.email_address.email as email %}Por favor confirme su correo <a class="text-indigo-600" href="mailto:{{ email }}">{{ email }}</a> Es una dirección de correo electrónico para el usuario {{ user_display }}.{% endblocktrans %}
              </p>

              {% url 'account_confirm_email' confirmation.key as action_url %}
              {% element form method='post' action=action_url %}
                {% slot actions %}
                  {% csrf_token %}
                  {{ redirect_field }}
                  <button class="flex cursor-pointer mt-7 justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 min-w-40">
                    Confirmar
                  </button>
                {% endslot %}
              {% endelement %}
            {% else %}
              <p class="max-w-2xl text-gray-900 pt-6">
                {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{% endblocktrans %}
              </p>
            {% endif %}
        {% else %}
            {% url 'account_email' as email_url %}
            <p class="max-w-2xl text-gray-900 pt-6">
              Este enlace de confirmación por correo electrónico expiró o no es válido. Por favor <a class="text-indigo-600" href="{{ email_url }}">emitir una nueva solicitud de confirmación por correo electrónico</a>.
            </p>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}
