{% extends "base.html" %}
{% load tailwind_filters %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}

<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-[680px]">
    <div class="bg-white px-6 py-12 shadow rounded-lg sm:px-12 mx-4">

      <h1 class="max-w-2xl font-bold tracking-tight text-gray-900 text-2xl mb-4">
        {% if token_fail %}
          {% trans "Bad Token" %}
        {% else %}
          {% trans "Change Password" %}
        {% endif %}
      </h1>

      {% if token_fail %}
          {% url 'account_reset_password' as passwd_reset_url %}
          <p class="max-w-2xl text-gray-900 pt-6 pb-3">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}" class="text-indigo-500">new password reset</a>.{% endblocktrans %}</p>
      {% else %}
        {% element form method="post" action=action_url %}
          {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {{ form|crispy }}
          {% endslot %}
          {% slot actions %}
            <button name="action"  type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              {% trans 'change password' %}
            </button>
          {% endslot %}
        {% endelement %}
      {% endif %}

    </div>
  </div>
</div>

{% endblock content %}
