{% extends 'base_extendido.html' %}
{% load static %}   

{% block content_main %}  

  {% if object_list %}
    <div class="overflow-auto top-28 max-w-[100vw] absolute"> 
      <table class="w-full whitespace-nowrap text-left">
        <colgroup>
          <col class="w-full sm:w-4/12">
          <col class="lg:w-4/12">
          <col class="lg:w-2/12">
          <col class="lg:w-1/12">
          <col class="lg:w-1/12">
        </colgroup>
        <thead class="border-b border-white/10 text-sm leading-6 text-white">
          <tr>
            <th scope="col" class=" py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-10">Código NNA</th>
            <th scope="col" class=" py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-10">RUT</th>
            <th scope="col" class=" py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-20">Nombre</th>
            <th scope="col" class=" py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-20">Apellido</th>
            <th scope="col" class=" py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-20">Fecha de Nacimiento</th>
            <th scope="col" class=" py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-10">Comuna</th>
            <th scope="col" class=" py-2 pl-0 pr-8 font-semibold md:table-cell lg:pr-10">Ver Informe</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-white/5">
        {% for item in object_list %}
  
          <tr>
  
            <td class=" py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-10">
              {{ item.codNNA }}
            </td>
  
              <td class=" py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-10">
              {{ item.rut }}
            </td>
  
            <td class=" py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">
              {{ item.nombres }}
            </td>
  
            <td class=" py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">
              {{ item.apellido_paterno }}
            </td>
  
            <td class=" py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-20">
              {{ item.fechanacimiento }}
            </td>
  
  
            <td class=" py-4 pl-0 pr-8 text-sm leading-6 text-gray-400 md:table-cell lg:pr-10">
              {{ item.Comuna }}
            </td>
  
  
            <td class=" py-1 pl-0  text-sm leading-6  md:table-cell ">
              <a href="{% url 'generate_pdf' item.id %}" class="flex w-12 justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 ">
               <svg class="h-5 w-5 text-white"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
                </svg>
              </a>
            </td>
  
          </tr>
        
        {% endfor %}
        </tbody>
      </table>
    </div>

  
  {% else %}

    <strong>NO HAY REGISTROS</strong>

  {% endif %} 


{% endblock content_main %}